.btn {
  display: block;
  padding: 16px 10px;
  font-family: @font-family;
  font-size: @font-size--big;
  font-weight: @font-weight--bold;
  line-height: 1;
  text-align: center;
  color: @color--invert;

  &--download {
    width: 100%;
    margin-bottom: 32px;
    border: 3px solid white;
    border-radius: 28px;
  }

  &--toggler {
  font-size: 0;
  width: 12px;
  height: 12px;
  padding: 0;
  margin: 0 5px;
  background-color: @bg--darkblue;
  border: 3px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  &:hover,
    :focus {
    background-color: @bg;
    border: 3px solid @bg--darkblue;
   }
  }

  &--toggler.active {
    background-color: @bg;
    border: 3px solid @bg--darkblue;
  }

  &--inactive {
    border-color: @bg--grey;
  }

  &--filter {
    color: @color--highlighted;
    background-color: transparent;
    border: 3px solid @color--highlighted;
    border-radius: 30px;
    &:hover,
      :focus {
      color: @color--invert;
      background-color: @color--highlighted;
    }
  }

   &--filter-cancel {
    margin-top: 10px;
    border: 3px solid @color;
    color: @color;
    opacity: 0.1;
    &:hover,
      :focus {}
  }

  &--form {
  width: 100%;
  padding: 21px 10px;
  background-color: #2aab6d;
  border: 2px solid #2aab6d;
  border-radius: 3px;
  }
}
