.btn {
  display: block;
  padding-top: 16px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: @font-family;
  font-size: @font-size--big;
  font-weight: @font-weight--bold;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  color: @color--invert;
  cursor: pointer;

  &--download {
    width: 100%;
    margin-bottom: 32px;
    border: 3px solid white;
    border-radius: 50px;

    @media @tablet-width {
      margin-bottom: 45px;
    }

    @media @desktop-width {
      font-size: 21px;
      margin-bottom: 63px;
    }

    &:hover {
      color: @color--highlighted;
      background-color: @bg;
    }

    &:active {
      color: rgba(210, 40, 86, 0.3);
    }
  }

  &--toggler {
    box-sizing: content-box;
    font-size: 0;
    width: 6px;
    height: 6px;
    padding: 0;
    margin: 0 6px;
    background-color: @bg--darkblue;
    border: 3px solid @bg;
    border-radius: 50%;
    opacity: 0.3;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
    }

    &.active {
      background-color: @bg;
      border: 3px solid @bg--darkblue;
      opacity: 1;
    }

    @media @desktop-width {
      display: none;
    }
  }

  &--inactive {
    border-color: @bg--grey;
  }

  &--filter {
    text-decoration: none;
    color: @color--highlighted;
    background-color: transparent;
    border: 3px solid @color--highlighted;
    border-radius: 50px;

    &:hover,
    &:active {
      color: @color--invert;
      background-color: @color--highlighted;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }

   &--filter-cancel {
    margin-top: 10px;
    color: @color;
    background-color: @bg;
    border: 3px solid @color;
    opacity: 0.1;

    &:hover {
      color: @color;
      background-color: @bg;
      opacity: 0.3;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
      background-color: @bg--darkblue;
    }

    @media @tablet-width {
      margin-top: 20px;
    }

    @media @desktop-width {
      margin-top: 0;
      margin-left: 45px;
    }
  }

  &--form {
    width: 100%;
    padding: 21px 10px;
    padding-bottom: 20px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #2aab6d;
    border: 2px solid #2aab6d;
    border-radius: 3px;

    &:hover {
      background-color: #1c9b5e;
      border-color: #1c9b5e;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }

    &:disabled {
      background-color: #e5e5e5;
      border-color: #e5e5e5;
    }
  }
}
