.competition-form {
  padding: 0;
  padding-top: 45px;
  padding-bottom: 16px;

  @media @tablet-width {
    padding-top: 91px;
  }
}

.competition-form__wrapper {

  @media @tablet-width {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.competition-form__note {
  .container();
  margin-bottom: 33px;
  font-size: @font-size;
  line-height: 30px;
  text-align: center;
  color: @color;

  span {
    display: none;

    @media @tablet-width {
      display: block;
    }
  }

  @media @tablet-width {
    //width: 100%;
    order: -1;
    padding-right: 60px;
    padding-left: 60px;
    margin-bottom: 63px;
    font-size: @font-size--big;
  }
}

.competition-form__full-name,
.competition-form__communications {
  padding-bottom: 26px;
  .container();

  input {
    width: 100%;
    height: 63px;
    padding-left: 22px;
    margin-bottom: 17px;
    font-size: @font-size--big;
    line-height: @line-height--loose;
    border: 2px solid @border-color;
    border-radius: 3px;

    @media @tablet-width {
      flex-grow: 1;
      width: auto;
      min-width: 500px;
    }
  }
}

.competition-form__full-name {
  @media @tablet-width {
    order: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    align-content: space-between;
    margin-bottom: 48px;

    label {
      margin-right: 20px;
    }
  }
}

.competition-form__caption {
  display: block;
  padding-left: 23px;
  margin-bottom: 5px;
  line-height: @line-height--loose;
  text-transform: uppercase;
  color: @color--highlighted;

  @media @tablet-width {

    &--phone {
      order: 1;
      margin-bottom: 30px;

      span {
        display: none;
      }
    }

    &--email {
      order: 3;

      span {
        display: none;
      }
    }
  }
}

.competition-form__achievements {
  background-color: @bg--grey;

  @media @tablet-width {
    .container();
    order: 3;
    background-color: white;
  }

  input[type=checkbox] {
    display: none;
  }

  label {
    position: relative;
    padding-left: 70px;
    font-size: @font-size--big;
    line-height: @line-height--loose;
    cursor: pointer;

    &::before {
      position: absolute;
      top: -3px;
      left: 0;
      content: "";
      width: 39px;
      height: 39px;
      background-color: white;
      border: 2px solid @border-color;
    }
  }
}

.competition-form__inner {
  .container();
  padding-top: 36px;
  padding-bottom: 3px;

  @media @tablet-width {
    position: relative;
    .container-deny();
    padding-top: 55px;
    padding-bottom: 3px;
    padding-left: 60px;
    padding-right: 60px;
    border: 2px solid @border-color;

    br {
      display: none;
    }
  }

  p {
    margin-bottom: 42px;
    text-align: center;
    line-height: 1.286rem;
    text-transform: uppercase;
    color: @color--highlighted;

    @media @tablet-width {
      position: absolute;
      top: -10px;
      left: 92px;
      width: auto;
      padding: 0 25px;
      background-color: white;
    }
  }
}

.competition-form__input-inner {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 52px;
}

.competition-form__input-inner input:checked + label::after {
  position: absolute;
  top: 9px;
  left: 9px;
  content: "";
  width: 39px;
  height: 39px;
  background: url(../img/icon-yes-checkbox.svg) no-repeat 0 0;
  background-size: 22px 16px;
}

.competition-form__communications {
  padding-top: 30px;
  padding-bottom: 37px;

  @media @tablet-width {
    position: relative;
    order: 2;
  }
}

.competition-form__communications-inner {

  @media @tablet-width {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 45px;
    padding-bottom: 19px;
    padding-left: 60px;
    padding-right: 60px;
    border: 2px solid @border-color;

    input[name="phone-number"] {
      order: 0;
      margin-bottom: 9px;
      padding-right: 70px;
      background: url(../img/icon-phone.svg) no-repeat right center;
    }

    input[name="email"] {
      order: 2;
      margin-bottom: 9px;
      padding-right: 70px;
      background: url(../img/icon-email.svg) no-repeat right center;
    }
  }
}

.competition-form__title-hidden {
  font-size: 0;
  line-height: 0;

  @media @tablet-width {
    position: absolute;
    top: -16px;
    left: 182px;
    width: auto;
    padding: 0 25px;
    font-size: @font-size;
    font-weight: @font-weight;
    line-height: @line-height--loose;
    text-transform: uppercase;
    color: @color--highlighted;
    background-color: white;
  }
}

.competition-form__mobile-app {
  background-color: @bg--grey;
  padding-bottom: 4px;

  @media @tablet-width {
    .container();
    order: 1;
    padding-bottom: 14px;
    background-color: white;
  }
}

.competition-form__mobile-inner {
  .container();
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: space-between;
  margin-bottom: 45px;

  @media @tablet-width {
    position: relative;
    .container-deny();
    padding-top: 55px;
    padding-bottom: 15px;
    padding-left: 60px;
    padding-right: 60px;
    border: 2px solid @border-color;
  }

  p {
    width: 100%;
    padding: 36px 0 38px 0;
    text-align: center;
    line-height: @font-size--big;
    text-transform: uppercase;
    color: @color--highlighted;

    @media @tablet-width {
      position: absolute;
      top: -10px;
      left: 125px;
      width: auto;
      padding: 0 25px;
      background-color: white;

      br {
        display: none;
      }
    }
  }

  input[type=radio] {
    display: none;
  }

  label {
    position: relative;
    padding-left: 70px;
    padding-bottom: 45px;
    font-size: @font-size--big;
    line-height: @line-height--loose;
    cursor: pointer;

    @media @tablet-width {
      width: 70%;
    }

      &::before {
        position: absolute;
        top: -3px;
        left: 0;
        content: "";
        width: 39px;
        height: 39px;
        background-color: white;
        border: 2px solid @border-color;
        border-radius: 50%;
    }
  }
}

.competition-form__mobile-inner:last-child {
  margin-bottom: 0;
}

.competition-form__mobile-inner input:checked + label::after {
  position: absolute;
  top: 9px;
  left: 12px;
  content: "";
  width: 15px;
  height: 15px;
  background-color: @color--highlighted;
  border-radius: 50%;
}

.competition-form__emotions {
  .container();
  padding-top: 50px;
  padding-bottom: 39px;

  @media @tablet-width {
    order: 4;
    margin-bottom: 14px;
  }

  p {
    padding: 0;
    margin-bottom: 10px;
    text-align: center;
  }

  textarea {
    width: 100%;
    height: 201px;
    padding: 20px 20px;
    font-size: @font-size--big;
    line-height: @line-height--loose;
    border: 2px solid @border-color;

    @media @tablet-width {
      height: 190px;
    }
  }
}

.competition-form__emotions-inner {

  @media @tablet-width {
    position: relative;
    padding-top: 46px;
    padding-bottom: 45px;
    padding-left: 60px;
    padding-right: 60px;
    border: 2px solid @border-color;

    p {
      position: absolute;
      top: -16px;
      left: 180px;
      width: auto;
      padding: 0 25px;
      background-color: white;
    }
  }
}

.competition-form__send-form {
  .container();

  @media @tablet-width {
    order: 5;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 37px;

    button {
      max-width: 300px;
    }
  }

  p {
    position: relative;
    margin-top: 35px;
    text-align: center;
    line-height: @line-height--loose;
    text-transform: uppercase;

    span {
      font-size: @font-size;
      color: @color--highlighted;
    }
  }
}
