.contacts {
  .container();
  padding-top: 45px;
  text-align: center;
}

.contacts__question {
  margin-bottom: 35px;
  font-size: @font-size--biggest;
  font-weight: @font-weight--light;
  line-height: @line-height--auto;
}

.contacts__call,
.contacts__write {
  margin-bottom: 20px;
}

.contacts__call p,
.contacts__write p,
.contacts__come p {
  font-size: @font-size--big;
  font-weight: @font-weight--bold;
}

.contacts__call a,
.contacts__write a,
.contacts__come address {
  font-size: @font-size--biggest;
  font-weight: @font-weight--light;
  font-style: normal;
  color: @color--highlighted;
}

.contacts__come {
  position: relative;
  margin-bottom: 40px;

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 33px solid;
    border-bottom: none;
    border-color: #fff transparent #fff transparent;
    transform: scaleX(4.84) translateY(73px);
    transform-origin: 0 0;
  }
}

.contacts__map-container {
  width: 100%;
  height: 200px;
  background: url(../img/map-marker.svg) no-repeat 50% 50%,
              url(../img/bg-map-mobile@1x.png) no-repeat 0 100% #eae6dd;
  background-size: 36px 35px, 100%;
}
