.info__inner {
  .container();
  padding-top: 42px;
}

.info__slogan {
  position: relative;
  margin-bottom: 38px;
  font-size: @font-size--biggest;
  font-weight: @font-weight--light;
  line-height: @line-height--auto;
  text-align: center;
  color: @color;

  &::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -67px;
  display: block;
  width: 100%;
  height: 33px;
  background-image: linear-gradient(to bottom right, #fff 50%, @bg--grey 50%);
}

  p:nth-child(2) {
    margin-bottom: 30px;
  }
}

.info__features {
  .container();
  padding: 80px 20px 9px 20px;
  background-color: @bg--grey;
}

.info__text {
  text-align: center;

  h3 {
    margin-bottom: 13px;
    font-size: @font-size--big;
    font-weight: @font-weight--bold;
  }

  p {
    margin-bottom: 30px;
    line-height: @line-height;
  }
}

.info__images {
  min-height: 279px;
  background: url(../img/iphone-screen-mobile@1x.png) no-repeat 50% 0 @bg--grey;
}
