.intro {
  position: relative;
  z-index: -1;
  top: -67px;
}

.intro__image {
  display: flex;
  min-height: 462px;
  background: url(../img/bg-back-mobile@1x.jpg) no-repeat center 0 @bg--darkblue;

  img {
    margin-top: auto;
  }
}
