.main-nav {
  background-color: rgba(0, 0, 0, 0.3);

  &--nojs {
    background-color: @bg--darkblue;
  }

  @media @desktop-width {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.main-nav__inner {
  background-color: transparent;

  @media @desktop-width {
    .container();
    // Оставил миксин, потому
    // что мне надо его активировать
    // по медиазапросу
    display: flex;
    justify-content: flex-start;
  }
}

.main-nav__logo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 67px;
  padding: 22px 0 39px 0;
  border-bottom: none;

  &--nojs {
    padding-bottom: 39px;
    border-bottom: 1px solid black;
  }

/*   img {
  width: 75px;
  height: 22px;

  @media @tablet-width {
    width: 147px;
    height: 40px;
  }

  @media @desktop-width {
    width: 147px;
    height: 40px;
  }
} */

  @media @tablet-width {
    min-height: 110px;
    padding-top: 7px;
  }

  @media @desktop-width {
    padding-left: 0;
    padding-top: 23px;
    padding-right: 80px;
    background-color: transparent;
    border-bottom: none;
  }
}

.main-nav__logo-link {
  display: block;
}

.main-nav__logo-desktop {
  display: none;

  @media @desktop-width {
    display: block;
    width: 147px;
    height: 40px;
  }
}

use {
  fill: inherit;
}


/*  .logo-pink {
 fill: inherit;

 &--white-part {
   fill: white;
 }

 &--pink-part {
   fill: @color--highlighted;
 }
} */

use.pink-desktop {
  fill: blue;
}

.pink-desktop:hover {
  fill: @color--highlighted;
}


.main-nav__logo-tablet {
  display: none;

  @media @tablet-width {
    display: block;
    width: 147px;
    height: 40px;
    fill: @color--invert;

    &:hover {
    fill: @color--highlighted;
    }

    &:active {
      fill: @color--invert;
      opacity: 0.3;
    }
  }

  @media @desktop-width {
    display: none;
  }
}

.main-nav__logo-mobile {
  width: 75px;
  height: 22px;
  fill: white;

  &:hover {
    fill: @color--highlighted;
  }

  &:active {
    fill: @color--invert;
    opacity: 0.3;
  }

  @media @tablet-width {
    display: none;
  }
}

/* .main-nav__logo-desktop:hover,
.main-nav__logo-tablet:hover,
.main-nav__logo-mobile:hover {
  fill: @color--highlighted;
}

.main-nav__logo-desktop:active,
.main-nav__logo-tablet:active,
.main-nav__logo-mobile:active {
  fill: @color--invert;
  opacity: 0.3;
} */

.main-nav__toggle {
  display: block;
  font-size: 0;
  //padding-top: 0;

  &--closed {
    position: relative;
    display: block;
    width: 50px;
    height: 4px;
    background-color: @bg;
    border-radius: 1px;

      &:after {
        position: absolute;
        content: "";
        width: 50px;
        height: 4px;
        background-color: @bg;
        border-radius: 1px;
        transform: translateY(10px);
      }

      &:before {
        position: absolute;
        content: "";
        width: 50px;
        height: 4px;
        background-color: @bg;
        border-radius: 1px;
        transform: translateY(20px);
      }

    &:hover,
    &:hover:after,
    &:hover:before {
      background-color: @color--highlighted;
    }

    &:active,
    &:active:after,
    &:active:before {
      opacity: 0.4;
    }
  }

  &--open {
  position: relative;
  display: block;
  width: 30px;
  height: 4px;
  //margin-top: 10px;
  background-color: @bg;
  border-radius: 1px;
  transform: rotate(45deg) translateX(9px) translateY(3px);

    &:after {
      position: absolute;
      content: "";
      display: block;
      top: 0;
      width: 30px;
      height: 4px;
      background-color: @bg;
      border-radius: 1px;
      transform: rotate(-90deg);
    }

    &:before {
      display: none;
    }

  &:hover,
  &:hover:after {
    background-color: @color--highlighted;
  }

  &:active,
  &:active:after {
    opacity: 0.4;
  }
}

  @media @tablet-width {
    margin-top: 18px;
  }

  @media @desktop-width {
    display: none;
  }
}

.main-nav__list {
  display: none;
  background-color: @bg--darkblue;

   &--nojs {
   display: block;
 }

  @media @desktop-width {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
    background: none;
  }
}

.main-nav__item {
  font-family: @font-family;
  font-size: @font-size--big;
  font-weight: @font-weight--bold;
  line-height: 1.2;
  text-transform: uppercase;
  color: @color--invert;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid black;

  a {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 21px;
    padding-bottom: 20px;
    text-align: center;
    text-decoration: none;
    color: @color--invert;

    &:hover {
      color: @color--highlighted;
    }

    &:active {
      opacity: 0.3;
    }

    @media @desktop-width {
      text-decoration: none;

      &:active {
        color: @color--invert;
        opacity: 0.3;
      }

      &.active {

        &::after {
          position: absolute;
          top: 54px;
          left: 0;
          content: "";
          display: block;
          width: 100%;
          height: 2px;
          background-color: @color--invert;
        }

        &:hover::after {
          background-color: @color--highlighted;
        }

        &:active::after {
          background-color: @color--invert;
        }
      }
    }
  }

  @media @desktop-width {
    margin-left: 80px;
    font-size: @font-size--big;
    font-weight: @font-weight;
    line-height: @line-height;
    text-transform: none;
    border: none;
  }
}
