.page-header__inner {
  .container();
  background-color: @bg--darkblue;
}

.page-header__logo {
  float: left;

  a {
  text-align: left;
  padding-left: 20px;
  }
}

.page-header__title {
  min-height: 170px;
  padding: 32px 20px 30px 20px;
  font-size: @font-size--biggest;
  font-weight: @font-weight--light;
  line-height: @line-height--auto;
  text-align: center;
  color: @color--invert;
  background: url(../img/bg-back-mobile@1x.jpg) no-repeat 50% 24% transparent;
}
