.page-header {
  width: 100%;
  background: url(../img/bg-back-mobile@1x.jpg) no-repeat #1d2631;
  background-position: center 0;
  background-size: 700px auto;

  &--nojs {
    background-position: center 260px;
  }

  @media @tablet-width {
    background: url(../img/bg-back-tablet@1x.jpg) no-repeat;
    background-color: @bg--darkblue;
    background-size: 1200px auto;
    background-position: center 0;

    &--nojs {
      background-position: center 250px;
    }
  }

  @media @desktop-width {
    background: url(../img/bg-back-desktop@1x.jpg) no-repeat;
    background-size: 2560px auto;
    background-position: center 0;
    background-color: @bg--darkblue;
  }

  @media (min-resolution: 200dpi),
         (min-resolution: 2dppx) {
    background: url(../img/bg-back-mobile@2x.jpg) no-repeat #1d2631;
    background-position: center 0;
    background-size: 700px auto;

    &--nojs {
      background-position: center 260px;
    }
  }

  @media (min-resolution: 200dpi),
         (min-resolution: 2dppx)
                and @tablet-width {
    background: url(../img/bg-back-tablet@2x.jpg) no-repeat;
    background-color: @bg--darkblue;
    background-size: 1200px auto;
    background-position: center 0;

    &--nojs {
      background-position: center 250px;
    }
  }

  @media (min-resolution: 200dpi),
         (min-resolution: 2dppx)
                and @desktop-width {
    background: url(../img/bg-back-desktop@2x.jpg) no-repeat;
    background-size: 2560px auto;
    background-position: center 0;
    background-color: @bg--darkblue;
  }
}

.page-header__inner {
  //.container();
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media @desktop-width {
    width: auto;
    padding: 0;
  }

  a:first-child {
    display: block;
    font-size: 0;
    width: 75px;
    height: 22px;
  }
}

// Стиль для photo & form.html only
.page-header__title {
  //.container();
  min-height: 237px;
  padding-top: 97px;
  padding-bottom: 30px;
  margin-top: -64px;
  font-size: @font-size--biggest;
  font-weight: @font-weight--light;
  line-height: @line-height--auto;
  text-align: center;
  color: @color--invert;
  overflow: hidden;

  @media @tablet-width {
    min-height: 440px;
    padding-top: 180px;
    padding-bottom: 40px;
    padding-left: 70px;
    padding-right: 70px;
    margin-top: -110px;
    font-size: 3.571rem;
    font-weight: @font-weight--light;
    line-height: @line-height--auto;
  }

    @media @desktop-width {
    min-height: 395px;
    padding-top: 175px;
    padding-left: 65px;
    padding-right: 65px;
    margin-top: -110px;
  }
}
