.page-footer {

  &--index-page {
    display: none;

    @media @tablet-width {
      display: block;
    }
  }
}

.page-footer__inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 40px;

  @media @tablet-width {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 36px;
    padding-bottom: 35px;
  }

  @media @desktop-width {
    padding-top: 70px;
    padding-bottom: 71px;
  }
}

.page-footer__logo-footer {
  margin-bottom: 25px;

  @media @tablet-width {
    margin-bottom: 0;
  }

  a {
    display: block;
    font-size: 0;
  }
}

.page-footer__logo-desktop {
  display: none;

  @media @desktop-width {
    display: block;
    width: 147px;
    height: 40px;
  }
}

.page-footer__logo-mobile {
  width: 147px;
  height: 40px;

  @media @desktop-width {
    display: none;
  }
}

.logo-darkblue-part {
  fill: inherit;
}

.page-footer__logo-link {
  fill: @color;

  &:hover {
    fill: @color--highlighted;
  }

  &:active {
    fill: @color;
    opacity: 0.3;
  }
}

.page-footer__copyrights {
  a {
    display: flex;
    align-items: center;
    line-height: 18px;
    text-decoration: none;
    color: @color;
    fill: @color--highlighted;

    &:hover {
      fill: @color;
    }

    &:active {
      fill-opacity: 0.3;
    }
  }

  .htmlacademy-logo {
    width: 27px;
    height: 34px;
    margin-left: 15px;
    fill: inherit;
  }

  @media @tablet-width {
    margin-top: 14px;
  }

  @media @desktop-width {
    margin-top: 12px;
    font-size: @font-size--big;
  }
}
