.page-footer {
  .container();
}

.page-footer__inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 40px;
}

.page-footer__logo-footer {
  margin-bottom: 33px;
}

.page-footer__copyrights {
  a {
    display: flex;
    align-items: center;
    line-height: 18px;
    color: @color;
  }

  img {
    margin-left: 20px;
  }
}
